body {
	font-family: 'PT Sans', sans-serif;
	background-color: rgba(33, 33, 33, 1.0); /*#212121*/
	color: #ffffff;
	padding: 0;
	margin: 0;
}

header {
	min-height: 240px;
	box-shadow: 0 0 0 5px #rgba(1, 1, 1, 1.0);
}

header h1 {
	margin: 50px 0;
	font-size: 40px;
	text-align: right;
	-webkit-animation: sliding-in 1s;
	-o-animation: sliding-in 1s;
	animation: sliding-in 1s;
}

@-webkit-keyframes sliding-in {
	from { transform: translateX(300px); }
	to {  }
}
@-o-keyframes sliding-in {
	from { transform: translateX(300px); }
	to {  }
}
@-moz-keyframes sliding-in {
	from { transform: translateX(300px); }
	to {  }
}
@keyframes sliding-in {
	from { transform: translateX(300px); }
	to {  }
}

div.column-960 {
	width: 960px;
	margin: 0 auto;
}

header  p {
	width: 640px;
}