body {
	font-family: 'PT Sans', sans-serif;
	background-color: rgba(33, 33, 33, 1.0); /*#212121*/
	color: #ffffff;
	padding: 0;
	margin: 0;
}

header {
	min-height: 240px;
}

header h1 {
	margin: 50px 0;
	font-size: 40px;
	text-align: right;
	animation-name:
		sliding-in,
		appearance,
		blinking;
	animation-duration: 1s, 3s, 4s;
	animation-iteration-count: 1, 1, infinite;
	text-shadow:
		0 0 40px #000000, 
		0 0 50px #ffffff;
}

header h1 a {
	text-decoration: none;
	color: inherit;
}

@keyframes sliding-in {
	from { transform: translateX(300px); }
}

@keyframes blinking {
	90% { opacity: 1; }
	95% { opacity: 0.5; }
}

@keyframes appearance {
	from { opacity: 0; }
}

div.column-960 {
	width: 960px;
	margin: 0 auto;
}

header  p {
	width: 640px;
}

header a {
	position: relative;
}

header a:after {
	background-color: #ffffff;
	opacity: 0;
	transition: all 1s;
}

header a:hover::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px;
	opacity: 1;
}

header h1:active {
	transform: translate(1px, 1px);
}